<% include ./partials/headerLoggin %>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky" style="margin-top: 5%;">
                <ul class="list-group">
                    <a class="list-group-item list-group-item-action" href="/usrHome"> Dashboard </a>
                    <a class="list-group-item list-group-item-action" href="/industry"> 行业数据 </a>
                    <a class="list-group-item list-group-item-action" href="/news"> 行业情绪指数 </a>
                    <a class="list-group-item list-group-item-action" href="/industryEmotion"> 分行业情绪指数 </a>
                    <a class="list-group-item list-group-item-action" href="/dataBase"> Database </a>
                    <a class="list-group-item list-group-item-action" href="/updateLog"> Update Log </a>
                </ul>
            </div>
        </nav>
        <div class="col-md-10">
            <!-- 代码在这 -->
            <div class="row container-fluid">
                <form action="/news/new" method="POST">
                    <div class="row form-group">
                        <label for="newsInputTitle"> 新闻标题 </label>
                        <input type="text" name="title" class="form-control" placeholder="新闻标题">
                    </div>
                    <div class="row form-group">
                        <label for="newsInputDate"> 日期 </label>
                        <input type="text" name="date" class="form-control" placeholder="日期">
                        <small class="form-text text-muted"> 格式: YYYY-MM-DD (i.e. 2019-01-01) </small>
                    </div>
                    <div class="row form-group">
                        <label for="newsInputSource"> 新闻来源 </label>
                        <input type="text" name="source" class="form-control" placeholder="新闻来源">
                    </div>
                    <div class="row form-group">
                        <label for="newsInputContent"> 新闻内容 </label>
                        <input type="text" name="content" class="form-control" placeholder="新闻内容">
                        <small class="form-text text-muted"> 请移除所有与文章无关内容(例如：作者、图片附注等) </small>
                    </div>
                    <div class="row form-group">
                        <label for="newsInputSubmmiter"> 操作人 </label>
                        <input type="text" name="submitter" class="form-control" value="<%= currentUser.username %>" disabled>
                    </div>
                    <button type="submit" class="btn btn-primary"> 提交 </button>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>