<% include ./partials/headerLoggin %>

<!-- Side bar  -->
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky" style="margin-top: 5%;">
                    <ul class="list-group">
                            <a class="list-group-item list-group-item-action" href="usrHome"> Dashboard </a>
                            <a class="list-group-item list-group-item-action" href="industry"> 行业数据 </a>
                            <a class="list-group-item list-group-item-action active" href="comments"> Comment </a>
                            <a class="list-group-item list-group-item-action" href="dataBase"> Database </a>
                            <a class="list-group-item list-group-item-action" href="updateLog"> Update Log </a>
                        </ul>
            </div>
        </nav>

        <!-- End of side bar -->
        <!-- Content goes under -->
        <div class="main-panel col-md-10">
            <% comments.forEach(function(comment){ %>
            <div class="card card-stats card-warning" style="margin: 20px 20px; width: 95%; height: 108;">
                <div class="card-body">
                    <h6 class="card-title">
                        <%= comment.title %>
                    </h6>
                    <h5 class="card-category">
                        <%= comment.url %>
                    </h5>
                    <img src="<%= comment.image %>">
                    <h6>
                        <%= comment.content %>
                    </h6>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
    <!-- End of Content -->
</div>



<% include ./partials/footer %>