<% include ./partials/headerLoggin %>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky" style="margin-top: 5%;">
                <ul class="list-group">
                    <a class="list-group-item list-group-item-action" href="usrHome"> Dashboard </a>
                    <a class="list-group-item list-group-item-action" href="industry"> 行业数据 </a>
                    <a class="list-group-item list-group-item-action" href="news"> 行业情绪指数 </a>
                    <a class="list-group-item list-group-item-action" href="/industryEmotion"> 分行业情绪指数 </a>
                    <a class="list-group-item list-group-item-action active" href="dataBase"> Database </a>
                    <a class="list-group-item list-group-item-action" href="updateLog"> Update Log </a>
                </ul>
            </div>
        </nav>
        <!-- Content goes under -->
        <div class="main-panel col-md-10">
            <a href="/database/new"> 添加新公司 </a>


            <% data.forEach(function(results) { %>
            <div class="card card-stats card-warning" style="margin: 20px 20px;">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= results.name %>
                    </h5>
                    <h6 class="card-category">
                        <%= results["industry"] %>
                    </h6>
                    <p class="card-text"> <%= results["description"].substring(0,100) %> ... </p>
                    <a type="button" href="/database/<%= results._id %>" class="btn-outline-primary"> 更多 </a>
                </div>
            </div>
            <% }) %>


        </div>
    </div>
</div>


<% include ./partials/footer %>