<% include ./partials/headerLoggin %>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="list-group">
                    <a class="list-group-item list-group-item-action" href="usrHome"> Dashboard </a>
                    <a class="list-group-item list-group-item-action" href="#"> Searching </a>
                    <a class="list-group-item list-group-item-action" href="comments"> Comment </a>
                    <a class="list-group-item list-group-item-action active" href="dataBase"> Database </a>
                    <a class="list-group-item list-group-item-action" href="updateLog"> Update Log </a>
                </ul>
            </div>
        </nav>
        <!-- Content goes under -->
        <div class="main-panel col-md-10">
            <% data["Search"].forEach(function(movie) { %>
            <div class="card card-stats card-warning" style="margin: 20px 20px;">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= movie["Title"] %>
                    </h5>
                    <h6 class="card-category">
                        <%= movie["Year"] %>
                    </h6>
                    <h6>
                        
                    </h6>
                </div>
            </div>
            <% }) %>


        </div>
    </div>
</div>


<% include ./partials/footer %>