<% include ./partials/headerLoggin %>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky" style="margin-top: 5%;">
                    <ul class="list-group">
                            <a class="list-group-item list-group-item-action" href="/usrHome" style="margin-top: 5%;"> 首页 </a>                     
    
                            <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action active" style="margin-top: 5%;"> 行业全景图 </a>
                            <ul class="collapse" id="homeSubmenu1" style="margin-top: 5%">
                                <a class="list-group-item list-group-item-action" href="/governmentGlance"> 政府行业 </a>
                                <a class="list-group-item list-group-item-action" href="/industry" style="margin-top: 5%"> 区块链 </a>
                            </ul>
                            <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action" style="margin-top: 5%;"> 行业数据库 </a>
                            <ul class="collapse" id="homeSubmenu2">
                                <a class="list-group-item list-group-item-action" href="/governmentSearch" style="margin-top: 5%;"> 政府行业 </a>
                                <a class="list-group-item list-group-item-action active" href="/database" style="margin-top: 5%;"> 区块链 </a>
                            </ul>
                            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action" style="margin-top: 5%;"> 行业情绪指数 </a>
                            <ul class="collapse" id="homeSubmenu">
                                <a class="list-group-item list-group-item-action" href="/industryEmotion" style="margin-top: 5%;"> 全行业/关键词情绪指数 </a>
                                <a class="list-group-item list-group-item-action" href="/news" style="margin-top: 5%;"> 行业情绪指数参考新闻 </a>
                            </ul>
                            <a class="list-group-item list-group-item-action" href="/updateLog" style="margin-top: 5%;"> 更新记录 </a>
                    </ul>
            </div>
        </nav>
        <!-- Content goes under -->
        <div class="main-panel col-md-10">
            <% if(currentUser.companyID == 320131){ %>
                <a href="/database/new"> 添加新公司 (Adding New Company) </a>
            <% } else { %>
                <a disabled> 添加新公司 (Adding New Company) </a>
            <% } %>

            <h3> 搜索引擎 </h3>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="heading_1">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">精准搜索</button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="heading_1" data-parent="#accordionExample">
                            <!-- collapse的部分，精准搜索的内容 -->
                            <form action="/blockchainDatabaseSearch" style="margin-left: 2%; margin-top:2%;">
                                <!-- <input name="search" class="form-control form-control-dark w-100" type="text" placeholder="Search"
                                    aria-label="Search" style="margin-top: 1%;"> -->
                                    <h5> 城市 </h5>
                                    <div class="form-row">
                                        <div class="col"> <input name="location" class="form-check-input" type="checkbox" value="北京"> <label>北京</label> </div>
                                        <div class="col"> <input name="location" class="form-check-input" type="checkbox" value="上海"> <label>上海</label> </div>
                                        <div class="col"> <input name="location" class="form-check-input" type="checkbox" value="广东"> <label>深圳</label> </div>
                                        <div class="col"> <input name="location" class="form-check-input" type="checkbox" value="江苏"> <label>江苏</label> </div>
                                        <div class="col"> <input name="location" class="form-check-input" type="checkbox" value="浙江"> <label>浙江</label> </div>
                                        <div class="col"> <input name="location" class="form-check-input" type="checkbox" value="天津"> <label>天津</label> </div>
                                        <div class="col"> <input name="location" class="form-check-input" type="checkbox" value="湖北"> <label>湖北</label> </div>
                                        <div class="col"> <input name="location" class="form-check-input" type="checkbox" value="黑龙江"> <label>黑龙江</label> </div>
                                        <div class="col"> <input name="location" class="form-check-input" type="checkbox" value="福建省"> <label>福建省</label> </div>
                                        <div class="col"> <input name="location" class="form-check-input" type="checkbox" value="湖南"> <label>湖南</label> </div>
                                    </div>
                                    <h5> 标签 </h5>
                                    <div class="form-row">
                                            <div class="col"> <input name="industry" class="form-check-input" type="checkbox" value="智慧城市"> <label> 平台服务 </label> </div>
                                            <div class="col"> <input name="industry" class="form-check-input" type="checkbox" value="区块链"> <label> 基础建设服务 </label> </div>
                                            <div class="col"> <input name="industry" class="form-check-input" type="checkbox" value="电子政务"> <label> 软件服务 </label> </div>
                                            <div class="col"> <input name="industry" class="form-check-input" type="checkbox" value="平安城市"> <label> 新闻资讯/媒体 </label> </div>
                                            <div class="col"> <input name="industry" class="form-check-input" type="checkbox" value="物联网"> <label> 电商 </label> </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary" > 搜索 </button>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="heading_2">
                            <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">模糊搜索</button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <!-- collaplse第二部分,模糊搜索 -->
                            <form action="/blockchainDatabaseBlurSearch" style="margin-left: 2%; margin-top: 2%;">
                                <input name="search" class="form-control form-control-dark w-100" type="text" placeholder="Search"
                                    aria-label="Search" style="margin-top: 1%;">
                                <button type="submit" class="btn btn-primary"  style="margin-top: 3%;"> 搜索 </button>
                            </form>
                        </div>
                    </div>

                </div>

                <% data.forEach(function(results) { %>
                    <div class="card card-stats card-warning" style="margin: 20px 20px;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= results.name %>
                            </h5>
                            <h6 class="card-category">
                                <%= results["industry"] %>
                            </h6>
                            <p class="card-text"> <%= results["description"]%> ... </p>
                            <a type="button" href="/database/<%= results._id %>" class="btn-outline-primary"> 更多 </a>
                        </div>
                    </div>
                    <% }) %>


        </div>
    </div>
</div>


<% include ./partials/footer %>