<% include ./partials/headerLoggin %>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="usrHome"> Dashboard </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Searching </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="comments"> Comment </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="dataBase"> Database </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Update Log </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Content goes under -->
        <div class="main-panel col-md-10"></div>
    </div>
</div>


<% include ./partials/footer %>