<% include ./partials/headerLoggin %>

<div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky" style="margin-top: 5%;">
                        <ul class="list-group">
                                <a class="list-group-item list-group-item-action" href="usrHome"> Dashboard </a>
                                <a class="list-group-item list-group-item-action active" href="industry"> 行业数据 </a>
                                <a class="list-group-item list-group-item-action" href="comments"> Comment </a>
                                <a class="list-group-item list-group-item-action" href="dataBase"> Database </a>
                                <a class="list-group-item list-group-item-action" href="updateLog"> Update Log </a>
                            </ul>
                </div>
            </nav>
            <div class="col-md-10">
                <!-- 代码在这 -->


        </div>
</div>

<% include ./partials/footer %>
