<% include ./partials/headerLoggin %>

<div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky" style="margin-top: 5%;">
                        <ul class="list-group">
                                <a class="list-group-item list-group-item-action" href="/usrHome"> Dashboard </a>
                                <a class="list-group-item list-group-item-action" href="/industry"> 行业数据 </a>
                                <a class="list-group-item list-group-item-action" href="/news"> 行业情绪指数参考新闻 </a>
                                <a class="list-group-item list-group-item-action" href="/industryEmotion"> 分行业情绪指数 </a>
                                <a class="list-group-item list-group-item-action" href="/database"> Database </a>
                                <a class="list-group-item list-group-item-action" href="/updateLog"> Update Log </a>
                            </ul>
                </div>
            </nav>
            <div class="col-md-10">
                <!-- 代码在这 -->

                 分行业情绪指数

                <% for(var i = 0; i < data.length; i++) { %>
                    <div class="row">
                    <% for(var j = 0; j < 3; j++){ %>
                        <div class="col-md-3">
                            <div class="card card-stats card-warning">
                                <div class="card-body">
                                    <div class="col-7 d-flex align-items-center">
                                        <div class="numbers">
                                            <p class="card-category"> <%= data[i]._id.field %> </p>
                                            <h4 class="card-title"> <%= data[i].total %> </h4>
                                            <h6> <%= data[i].count %> </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <%}%>
                </div>
                <% } %>
                
        </div>
</div>

<% include ./partials/footer %>
