<% include ./partials/headerLoggin %>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky" style="margin-top: 5%;">
                <ul class="list-group">
                    <a class="list-group-item list-group-item-action" href="/usrHome" style="margin-top: 5%;"> 首页 </a>                     

                    <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action" style="margin-top: 5%;"> 行业全景图 </a>
                    <ul class="collapse" id="homeSubmenu1" style="margin-top: 5%">
                        <a class="list-group-item list-group-item-action" href="/governmentGlance"> 政府行业 </a>
                        <a class="list-group-item list-group-item-action" href="/industry" style="margin-top: 5%"> 区块链 </a>
                    </ul>
                    <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action" style="margin-top: 5%;"> 行业数据库 </a>
                    <ul class="collapse" id="homeSubmenu2" style="margin-top: 5%">
                        <a class="list-group-item list-group-item-action" href="/governmentSearch"> 政府行业 </a>
                        <a class="list-group-item list-group-item-action" href="/database" style="margin-top: 5%"> 区块链 </a>
                    </ul>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle list-group-item list-group-item-action" style="margin-top: 5%;"> 行业情绪指数 </a>
                    <ul class="collapse" id="homeSubmenu" style="margin-top: 5%">
                        <a class="list-group-item list-group-item-action active" href="/industryEmotion"> 全行业/关键词情绪指数 </a>
                        <a class="list-group-item list-group-item-action" href="/news" style="margin-top: 5%"> 行业情绪指数参考新闻 </a>
                    </ul>
                    <a class="list-group-item list-group-item-action" href="/updateLog" style="margin-top: 5%;"> 更新记录 </a>
            </ul>
            </div>
        </nav>
        <div class="col-md-10">
            <!-- 代码在这 -->
            <div class="row container-fluid">
                <!-- 趋势图 -->

                <div class="col-md-8">
                    <canvas id="chartjs-0"></canvas>
                </div>
                <!-- 最新相关新闻 预设5个 -->
                
                <!-- <div class="col-md-4">
                        <h5 class="pb-4 mb-4 font-italic border-bottom" style="margin-top: 2%;"> 最新资讯 </h5>
                        
                    </div>
                </div> -->

                <!-- 可以选择是否展示成分，或者细分领域 -->

                <div class="row" style="margin-top: 5%; margin-left: 5%">

                    
                                                
                </div>

                

            </div>
        </div>
    </div>
</div>


<script>

    var timeFormat = 'YYYY-MM-DD'
    
    var ctx = document.getElementById('chartjs-0').getContext('2d')
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [<% data.forEach(function(doc){%> '<%= (doc.scoreDate).toLocaleString() %>)', <%}) %>],
            datasets: [{
                labels: 'Emotion Index',
                data: [<% data.forEach(function(doc){%> <%= doc.firmScore %>, <%}) %>]

            }]
        },
        options: {
            responsive: true,
            // scales:{
            //     xAxes: [{type: 'time'}]
            // },
            title: {
                display: true,
                text: 'Sample Demostration For ' 
            }
        }
    })

</script>

<% include ./partials/footer %>